.DS_Store
infra-*/kubeconfig
infra-*/terraform.tfstate
infra-*/terraform.tfstate*
infra-*/.terraform*
infra-*/secrets.auto.tfvars
*kubeconfig
*terraform.tfstate*
*terraform.lock.*
.terraform
*secrets.auto.tfvars
my-notes
my-notes.txt
values.yaml
tutor-multi-chart/charts/*.tgz
