# Disable HTTPS cert provisioning for testing with minikube
cert-manager:
   enabled: true

clusterDomain: harmony.test

elasticsearch:
   enabled: true

   # TODO: move this to a separate PR
   # Permit co-located instances for solitary minikube virtual machines.
   antiAffinity: "soft"

   volumeClaimTemplate:
     resources:
       requests:
         storage: 8Gi

opensearch:
   enabled: false

   # Permit co-located instances for solitary minikube virtual machines.
   antiAffinity: "soft"

   persistence:
     size: 8Gi

prometheusstack:
  enabled: true

k8sdashboard:
  enabled: false
